* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
  font-family: sans-serif;
  background-color: rgb(12, 12, 54);
  color: white;
  height: 100vh;
}

.title {
  width: 100%;
  text-align: center;
  font-size: 3rem;
  padding: 2rem;
}

.game-container {
  display: flex;
  flex-flow: column;
}

.hangman-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  width: 20%;
}

.guess-part {
  flex: 1 1 0;
}
.buttons {
  width: 40%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.button-reload {
  display: none;
  padding: 2rem;
  text-align: center;
  font-size: 2rem;
}

.test:hover {
  cursor: pointer;
  color: black;
  width: 100px;
  margin: 0 auto;
  background-color: white;
}

.button-letter {
  padding: 0.5rem;
  width: 2.5rem;
  text-align: center;
  font-size: 1.5rem;
}

.button-letter:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

.secret-word {
  text-align: center;
  padding: 3rem;
  font-size: 2rem;
}

@media only screen and (max-width: 800px) {
  .hangman-image {
    width: 30%;
  }
  .button-letter {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 500px) {
  .hangman-image {
    width: 40%;
  }
  .button-letter {
    font-size: 0.8rem;
  }
  .buttons {
    width: 60%;
  }
  .secret-word {
    font-size: 1.5rem;
  }
}
